<nav class="container-fluid">
  <ul>
    <li><a href="/dashboard" class="nav-brand"><strong>ItemCards</strong></a></li>
  </ul>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/items">Items</a></li>
    <li><a href="/cards">Cards</a></li>
    <li><a href="/scan" class="scan-link">Scan</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/receiving">Receiving</a></li>
    <li>
      <details class="dropdown">
        <summary>More</summary>
        <ul dir="rtl">
          <li><a href="/suppliers">Suppliers</a></li>
          <li><a href="/locations">Locations</a></li>
          <hr>
          <li><a href="/settings">Settings</a></li>
          <li><a href="#" onclick="logout()">Logout</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
